:root {
  --background: hsl(227, 10%, 17%);
  --background-light: hsl(227, 11%, 25%);
  --primary: hsl(148, 100%, 37%);
  --text: hsl(0, 0%, 96%);
  --radius: 6px;
  --padding: 12px;
  --transition-time: 0.3s;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

body {
  background-color: var(--background);
}

h1,
h2,
p,
div,
button,
span,
label {
  font-family: 'Roboto-Regular';
  color: var(--text);
}
